* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

/* <!-- News_and_Events section one starting --> */

.AboutPage_firstSec {
    height: 350px;
    background-image: url(img/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    margin-top: 100px;
}

.AboutPage_firstSec .textAbout {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: 350px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.AboutPage_firstSec .textAbout h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 30px;
}

.AboutPage_firstSec .textAbout span {
    background: #ffb703;
    width: 65px;
    height: 5px;
}

/* <!-- News_and_Events section one Ending --> */


/* <!-- News_and_Events Page section Two starting --> */

.News_and_Events_secondSec {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 15px;
}

/* img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
} */


.News_Events_Spot_Aarohan {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

/* .News_Events_Spot_Box {
    display: flex;
} */

.News_Events_Spot_Box-One {
    width: 370px;
    height: 160px;
    padding: 35px 32px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.NE_Spot_B-One_Heading {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.NE_Spot_A {
    color: #010d14;
    text-decoration: none;
    transition: all 0.5;
}

img.NE_Aarohan_img {
    width: 335px;
    transition: transform 0.5s;
}

img.NE_Aarohan_img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.NE_both_titles {
    padding: 20px 15px;
}

p.NE_Spot_B-One_text {
    font-size: 15px;
    color: #ffb703;
}

.News_Events_Aarohan {
    padding: 16px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.NE_Spot_A span {
    padding-left: 5px;
}

.NE_Spot_A:hover span {
    padding-left: 15px;
    transition: all 0.5s;
}





.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px auto;
    max-width: 1200px;
}

.card {
    padding: 25px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 10px;
    overflow: hidden;
    width: 300px;
}

.card img {
    height: auto;
    width: 100%;
}

.card-body {
    padding: 15px;
}

.card-body h2 {
    margin-top: 0;
}

/* .read-more {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.read-more:hover {
    background-color: #45a049;
} */

.CCIMG_scale:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.5s;
}


/* <!-- News_and_Events Page section Two Ending --> */