* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

/* <!-- Library PageRTI Page section one starting --> */

.AboutPage_firstSec {
    height: 350px;
    background-image: url(./img/header.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.AboutPage_firstSec .textAbout {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: 350px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.AboutPage_firstSec .textAbout h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 30px;
}

.AboutPage_firstSec .textAbout span {
    background: #ffb703;
    width: 65px;
    height: 5px;
}

/* <!-- Library Page section one Ending --> */

/* <!-- Library Page section two starting --> */

.LibraryPage_secondSec{
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    }

    .LibraryPage_img {
        width: 512px;
        height: 288px;
    }

/* <!-- Library Page section two Ending --> */