* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

/* <!-- Community Development Page section one starting --> */

.AboutPage_firstSec {
    height: 350px;
    background-image: url(./img/header.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.AboutPage_firstSec .textAbout {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: 350px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.AboutPage_firstSec .textAbout h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 30px;
}

.AboutPage_firstSec .textAbout span {
    background: #ffb703;
    width: 65px;
    height: 5px;
}

/* <!-- Community Development Page section one Ending --> */


/* <!-- Community Development Page section Two starting --> */

.Community_Dev_secondSec {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 15px;
}

.Community_Dev_main_heading {
    color: #010d14;
    font-size: 28px;
    margin-bottom: 26px;
    width: 44rem;
    line-height: 1.4;
}

.Community_Dev_main_text {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    /* margin-bottom: 26px; */
    width: 51rem;
}

.Community_Dev_sec_heading {
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 26px;
    margin-top: 26px;
}

ul {
    padding-left: 35px;
}



/* <!-- Community Development Page section Two Ending --> */