* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

/* <!-- Faculties section one starting --> */

.AboutPage_firstSec {
    height: 350px;
    background-image: url(./img/header.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.AboutPage_firstSec .textAbout {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: 350px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.AboutPage_firstSec .textAbout h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 30px;
}

.AboutPage_firstSec .textAbout span {
    background: #ffb703;
    width: 65px;
    height: 5px;
}

/* <!-- Faculties section one Ending --> */


/* <!-- Faculties Page section Two starting --> */

.FacultiesPage_secondSec {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 15px;
}




table.Faculties_table {
    /* margin: 13px; */
    width: 100%;
    border-collapse: collapse;
}

th.Faculties_th,
td.Faculties_td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

table.Faculties_table th.Faculties_th {
    background: #ffb703;
    color: #010d14;
    padding: 10px;
}


/* <!-- Faculties Page section Two Ending --> */