* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
}

/* <!-- Gallery Page section one starting --> */

.AboutPage_firstSec {
    height: 350px;
    background-image: url(img/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.AboutPage_firstSec .textAbout {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    height: 350px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.AboutPage_firstSec .textAbout h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 30px;
}

.AboutPage_firstSec .textAbout span {
    background: #ffb703;
    width: 65px;
    height: 5px;
}

/* <!-- Gallery Page section one Ending --> */


/* <!-- Gallery Page section Two starting --> */

.Courses_secondSec {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 15px;
}



/* Image gallery stlyling */
.container {
    max-width: 1100px;
    margin: 80px auto 0;
    text-align: center;
}

.container__img-holder {
    max-width: 280px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    margin-left: 16px;
    cursor: pointer;
}

.container .container__img-holder:nth-child(3n+1) {
    margin-left: 0;
}

.container__img-holder img {
    width: 100%;
    height: 220px;
    display: block;
    transition: .3s ease-in-out;
}

.container__img-holder img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}




/* <!-- Gallery Page section Two Ending --> */